
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body, html {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  display: block;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.anchor {
  position: relative;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
